.detail-section {
  width: 76%;
}

.detail {
  display: flex;
  background-color: white;
  padding: 3.2rem;
  width: 100%;
  margin-bottom: 8rem;

  &__information {
    width: 70%;
  }

  &__image {
    max-width: 68rem;
    display: flex;
    justify-content: center;
    align-content: center;
    img {
      max-width: inherit;
    }
  }

  &__buy-info {
    width: 30%;

    &--condition-sold {
      font-size: 1.4rem;
      margin-bottom: 1.6rem;
    }

    &--title {
      font-size: 2.4rem;
      font-weight: bold;
      margin-bottom: 3.2rem;
    }

    &--price {
      font-size: 4.6rem;
      font-weight: bold;
      margin-bottom: 3.2rem;
    }

    &--button {
      background-color: var(--primary-blue);
      width: 22rem;
      height: 3.5rem;
      border: none;
      border-radius: 0.4rem;
      color: white;
    }
  }

  &__description {
    margin-top: 10rem;
    &__title {
      font-size: 2.8rem;
      margin-bottom: 3.2rem;
    }

    &__text {
      color: #666666;
      font-size: 1.6rem;
      margin-bottom: 3.2rem;
    }
  }
}
